<ko-stage [config]="configStage">
  <ko-layer>
    <ko-circle [config]="obj1Props"></ko-circle>
    <ko-circle [config]="obj2Props"></ko-circle>
    <ko-line [config]="line"></ko-line>
  </ko-layer>
</ko-stage>
