<ko-stage [config]="configStage">
  <ko-layer>
    <ko-circle id="circle" [config]="configCircle1"></ko-circle>
    <ko-circle id="circle" [config]="configCircle2"></ko-circle>
    <ko-line [config]="line"></ko-line>
  </ko-layer>
</ko-stage>
